*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
body{
    height: 100%;
    min-width: 100vh;
    background-color:rgba(177, 177, 177, 0.349);
}
header{
    background-color: #504f56;
    display:  flex;
    justify-content: space-between;
    min-height: 10vh;
}
h1{
    padding: 28px;
    font-size: 35px;
    margin-left: 25px;
}
#Menu{
    align-self: End;
    margin-right: 100px;
    font-size: 25px;
}
#menuHome{
    background-color: #e3e3e3;
    border-radius: 10%;
    border:solid #e3e3e3 10px ;
}
#menuRes:hover{
    color:#e3e3e3 ;
}
a { 
    color: inherit;
    text-decoration: none;
} 
h2{
    font-size: 25px;
    padding: 20px;
    padding-left: 60px;
}

.eleicoes{
    display: flex;
}
.Informacoes{
    line-height: 25px;
    margin: 55px;
    margin-top: 30px;
    font-size: 18px;
    border: 2px solid black;
    border-radius: 15px;
    padding: 12px;
}
ul{
    list-style-type: none;
    margin-top: 10px;
    margin-left: 30px;
}
.imagensPres{
    display: flex;
    flex: content;
    justify-content:space-evenly;
    align-items: center;
}
img{
    height:200px;
    width: 200px;
    border-radius: 8%;
}
img:hover{
    border:  6px solid #504f56
}
footer{
    background: rgb(1,1,1);
    background: linear-gradient(90deg, rgba(1,1,1,1) 0%, rgba(110,106,103,1) 28%, rgba(115,55,23,1) 61%, rgba(22,21,20,1) 83%);
	color: #fff;
	padding: 20px;
	text-align: center;
	margin-top: 50px;
    position: fixed;
    bottom: 0;
    width: 100%;

}